/* 1. TOUJOURS EN HAUT : Importation de la police Didot */
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

:root {
  --tkb-pink: #db2777;
  --tkb-gold: #d4af37;
}

/* 2. APPLICATION UNIVERSELLE : On force CHAQUE élément du site */
*,
html,
body,
button,
input,
textarea,
select,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GFS Didot', serif !important;
}

body {
  background-color: #ffffff;
  color: #0f172a;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* 3. STYLE LUXE : Espacement des lettres pour les titres */
h1,
h2,
h3,
.tracking-luxury {
  letter-spacing: 0.15em !important;
  text-transform: uppercase;
}

/* Animation de la barre de pub */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Barre de défilement élégante (Fine et Noire) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}