@tailwind base;
@tailwind components;
@tailwind utilities;

/* On écrase les styles par défaut qui cassaient tout */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    /* On force le fond sombre que tu aimes et on enlève le centrage forcé */
    @apply bg-slate-900 text-slate-100 m-0 block;
    /* "block" est crucial pour annuler le "flex" du défaut */
  }
}

/* Animations personnalisées (Blob Effect) */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Utilitaires pour masquer la scrollbar tout en gardant le scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}